
mixin cylinder()
	- let chessfiles = ['A','B','C','D','E','F','G','H'];
	- let ba = 2*Math.PI/8; // base angle
	- let rri = Math.cos(ba/2);
	- let rbe = 2*Math.sin(ba/2);
	- let rfh = Math.sqrt(2-Math.sqrt(2));
	#cylinderarea(style=`--rri: ${rri}; --rbe: ${rbe}; --rfh: ${rfh};`)
		#cylinder
			- for(let x = 0; x < 8; x+=1)
				.col(style=`--j: ${x/8};`)
					- for(let y = 0; y < 8; y+=1)
						.cell(id=chessfiles[x]+(8-y).toString())
							if (x==0)
								p.rankid !{(8-y)}								
							if (y==7)
								p.fileid !{chessfiles[x]}


doctype html
head
	title Cylinder Chess
	link(rel='stylesheet' href='styles.css')
h1 Cylinder Chess
p Click start to init new game, or type in room num and join.
#startgame.postbutton Start Game
input#roomnum(placeholder='#ROOM')
#joingame.postbutton Join Game
#waitingarea
	| Waiting AREA
	h2.room
	#closegame.postbutton close
#gamearea
	| Game AREA
	h2.room
	h3#movemade
	h3#mytime
	h3#opponenttime(style='display:inline;')
	+cylinder()
	#wcapture
	#bcapture
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js')
script(src='/socket.io/socket.io.js')
script(type='module' src='main.mjs')
script(type='module' src='chess.mjs')
script(type='module' src='game.mjs')