mixin mainbutton(title)
  .mainbutton
    h2.mainbuttontitle !{title}

mixin subbutton(id,title)
  .subbutton(id=id)
    h3.submainbuttontitle !{title}

mixin subbuttonclass(classname,title)
  .subbutton(class=classname)
    h3.submainbuttontitle !{title}

mixin gameoption(id,name,label,value,checkedBool)
  input(type='radio',id=id,name=name,value=value,checked=checkedBool==true)
  label(for=id) !{label}

mixin popup(id)
  .popup(id=id,style='display:none;')
    .popupcross
      .crossline.popupcrossleft
      .crossline.popupcrossright