mixin mainbutton(buttonid,title)
  .mainbutton(id=buttonid)
    h2.mainbuttontitle !{title}

mixin inversemainbutton(buttonid,title)
  .inversemainbutton.mainbutton(id=buttonid)
    h2.mainbuttontitle !{title}

mixin inversemainbuttonicon(buttonid,title,iconsrc)
  .inversemainbutton.iconbutton.mainbutton(id=buttonid)
    h2.mainbuttontitle !{title}
    img(alt='icon',src=iconsrc)

mixin subbutton(id,title,className)
  .subbutton(id=id,class=className)
    h3.submainbuttontitle !{title}

mixin inversesubbutton(id,title,className)
  .inversesubbutton.subbutton(id=id,class=className)
    h3.submainbuttontitle !{title}

mixin subbuttonicon(buttonid,title,iconsrc)
  .iconbutton.subbutton(id=buttonid)
    h3.submainbuttontitle !{title}
    img(alt='icon',src=iconsrc)

mixin subbuttoniconwurl(buttonid,title,iconsrc,url)
  .iconbutton.subbutton(id=buttonid,title=url)
    h3.submainbuttontitle !{title}
    img(alt='icon',src=iconsrc)

mixin inversesubbuttonicon(buttonid,title,iconsrc)
  .inversesubbutton.iconbutton.subbutton(id=buttonid)
    h3.submainbuttontitle !{title}
    img(alt='icon',src=iconsrc)

mixin buttonrowmsg(id,txt)
  .buttonrowmsgcontainer(id=id+'container')
    h3.buttonrowmsg(id=id) !{txt}

mixin gameoption(id,name,label,value,checkedBool)
  li.radiobuttonoption
    input(type='radio',id=id,name=name,value=value,checked=checkedBool==true)
    label(for=id) !{label}

mixin popup(id)
  .popup(id=id)
    .popupcross
      .crossline.popupcrossleft
      .crossline.popupcrossright
    .popupcontent

mixin startgameoptions()
  #startgame-options
    h2.titlebanner Start Game
    h3.subtitlebanner Choose Your Game Config:
    ul#colour.game-option
      +gameoption('colour-white','colour','white','w',true)
      +gameoption('colour-black','colour','black','b',false)
      +gameoption('colour-random','colour','random','r',false)
    ul#surface.game-option
      +gameoption('surface-cylinder','surface','cylinder','cylinder',true)
      +gameoption('surface-square','surface','square','square',false)
    ul#time.game-option
      +gameoption('time-1','time','1m + 5s','1+5',false)
      +gameoption('time-5','time','5m + 0s','5+0',false)
      +gameoption('time-unlimited','time','unlimited','u',true)
    ul#showmoves.game-option
      +gameoption('moves-t','showmoves','show moves','t',true)
      +gameoption('moves-f','showmoves','hide moves','f',false)
    .buttonrow
      +inversesubbutton('stopcreateroom','&larr; back','')
      +subbutton('createroom','create room','')
  
mixin joingameoptions()
  #joingame-options
    h2.titlebanner Join Game
    h3.subtitlebanner Enter the ROOM ID:
    #roomnumcontainer
      input#roomnum(placeholder='_ _ _ _')
    .buttonrow
      +inversesubbutton('stopjoinroom','&larr; back','')
      +subbutton('joinroom','join room','')